.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.results-scroll {
  max-height: 60vh;
  overflow-y: auto;
}

.results-scroll .list-group-item {
  border-left: none;
  border-right: none;
}

.results-scroll .list-group-item:first-child {
  border-top: none;
}

.results-scroll .list-group-item:last-child {
  border-bottom: none;
}
